<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PuzzleGame" connectionString="Data Source=localhost;Initial Catalog=PuzzleGame;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="DatabaseName" value="PuzzleGame"/>
	</appSettings>
</configuration>